.invited{
    background-color: greenyellow;
    border-radius: 10px;
    margin-left: 10px; 
}

.joined{
    border-radius: 10px;

    background-color: rgb(0, 255, 179);
}
.invhead{
    background-color: royalblue;
    padding-left: 20px;
}
.invlis{
    width: 350px;
    height: 400px;
    overflow: scroll;
    padding-left: 5px;
}
.invlis::-webkit-scrollbar {
    display: none;
  }
.fl{
    display: inline-flex;
}
.invname{
    background-color: white;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.ml5{
   margin-left: 10px; 
}